{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid d-flex align-items-end">
        <div class="container">
            <h1 class="display-4 text-white">Crank-It Up</h1>
            <p class="lead text-white mb-1">Find your next bike here.</p>
            <p class="lead text-white">Feel alive!</p>
            <a class="btn btn-primary btn-lg mt-2" href="#" role="button">Search Listings</a>
        </div>
    </div>
{% endblock %}