{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid d-flex align-items-end mb-0">
        <div class="container">
            <h1 class="display-4 text-white text-medium">Crank-It Up</h1>
            <p class="text-larger text-white mb-1">Find your next bike here.</p>
            <p class="text-larger text-white">Feel alive!</p>
            <a class="btn btn-primary btn-lg mt-2" href="#" role="button">Search Listings</a>
        </div>
    </div>

    <div class="container-fluid bg-dark-blue text-center px-4 py-4">
        <div class="row">
            <div class="col-12">
                <p class="text-larger text-white mb-0">Buying and Selling mountain bikes just got easier</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-header text-center">Recent Listings</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card">
                    <a href="">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Cube</h5>
                            <p class="card-text">Attention Bike</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </a>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}