{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="image-container my-5">
                        {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img src="{{ product.image.url }}" class="card-img-top img-fluid product-image w-100" alt="{{ product.model_name }}">
                            </a>
                        {% else %}
                            <a href="">
                                <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top img-fluid product-image w-100" alt="{{ product.model_name }}">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h2 class="text-semibold text-dark-blue mb-3">Specialized</h2>
                    <h4 class="text-semibold text-dark-blue mb-3">2025 Rockhopper Sport 29</h4>
                    <p class="text-semibold text-black text-small"><span class="text-uppercase">Type:</span> <span class="text-dark-blue">Mountain</span></p>
                    <p class="text-medium text-black">The Specialized Rockhopper Sport 29" featuring a specific travel SR SunTour XCM fork, making it an ideal choice for cross-country and trail riding enthusiasts.</p>
                    <p class="text-medium text-black text-smaller"><span class="text-uppercase">Size:</span> <span class="text-blue text-italic">Medium</span></p>
                    <p class="text-medium text-black text-smaller"><span class="text-uppercase">Colour:</span> <span class="text-blue text-italic">Grey</span></p>
                    <p class="text-semibold text-dark-blue text-larger mt-4">£499.99</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}